@import './global/reset';
@import './global/mixins';

body{
  background-color: #fcc;

  @include respond-to(small) {
    background-color: #ccc;
  }

  @include respond-to(medium) {
    background-color: #ff0;
  }

  @include respond-to(large) {
    background-color: #0ff;
  }
}